<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">

    <title>KatoRestaurants</title>
</head>

<body>

    <div class="topnav">
        <a class="topnav__left" href="/">KatoRestaurants</a>
        <% if(!currentUser) { %>
            <a class="topnav__right" href="/login">Login</a>
            <a class="topnav__right" href="/register">Sign up</a>
        <% } else { %>
        <a class="topnav__right" href="/logout">Logout</a>
        <li class="topnav__right">Signed in as <%= currentUser.username %></li>
        <% } %>
    </div>