<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="styles/navbar.css">
    <title>KatoRestaurants</title>
</head>

<body>

    <div class="topnav">
        <a class="topnav__left" href="/">KatoRestaurants</a>
        <a class="topnav__right" href="/">Login</a>
        <a class="topnav__right" href="/">Sign up</a>
        <a class="topnav__right" href="/">Logout</a>
    </div>