<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <title>KatoRestaurants</title>
</head>

<body>

    <link rel="stylesheet" href="/styles/homepage.css">
    <link rel="stylesheet" href="/styles/main.css">

    <div class="menu__container">
        <h1 class="menu__name">KatoRestaurants</h1>
        <a class="menu__link button" href="/restaurants">View All Restaurants</a>
    </div>

    <ul class="slideshow">
        <li class="slideshow__slide image-one"></li>
        <li class="slideshow__slide image-two"></li>
        <li class="slideshow__slide image-three"></li>
        <li class="slideshow__slide image-four"></li>
        <li class="slideshow__slide image-five"></li>
    </ul>

<% include partials/footer.ejs %>