<% include partials/header.ejs %>

    <div class="containers">
        <header class=hdr>
            <div class="container">
                restaurants
                <p>check out these restaurants</p>
                <p>
                    <a class="button" href="/restaurants/new">Add new restaurant</a>
                </p>
            </div>
        </header>

        <div class="container">
            <div class="rows__full-width">
                <h3>Lovely restaurants</h3>
            </div>

            <% restaurants.forEach(function(restaurant) { %>
                <div class='rows__listing'>
                    <figure>
                        <figcaption><%= restaurant.name %></figcaption>                        
                        <p><img src="<%= restaurant.image %>">
                    </figure>
                    <a href="/restaurants/<%= restaurant._id %>"></a>
                </div>
                <% }) %>
        </div>
    </div>

    <script type="text/javascript" src="/scripts.js"></script>

    <!-- <% include partials/footer.ejs %> -->
    <!-- disabled as its messed up atm -->