<% include partials/header.ejs %>
<link rel="stylesheet" href="styles/main.css">
<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">

<div class="container">
    <header class=hdr>
        restaurants
        <p>check out these restaurants</p>
        <p>
            <a class="button" href="/restaurants/new">Add new restaurant</a>   
        </p>
    </header>

    <h1>Restaurants page</h1>

    <% restaurants.forEach(function(restaurant) { %>
        <div>
            <h4><%= restaurant.name %></h4>
            <img src="<%= restaurant.image %>">
        </div>
    <% }) %>
</div>

<% include partials/footer.ejs %>