<% include partials/header.ejs %>

<h1>Restaurants page</h1>

<a href="/restaurants/new">Add new restaurant</a>

<% restaurants.forEach(function(restaurant) { %>
    <div>
        <h4><%= restaurant.name %></h4>
        <img src="<%= restaurant.image %>">
    </div>
<% }) %>

<% include partials/footer.ejs %>