<% include partials/header.ejs %>
    <link rel="stylesheet" href="styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">

    <div class="container">
        <header class=hdr>
            <div class="container">
                restaurants
                <p>check out these restaurants</p>
                <p>
                    <a class="button" href="/restaurants/new">Add new restaurant</a>
                </p>
            </div>
        </header>

        <div class="rows">
            <div class="rows__full-width">
                <h3>Lovely restaurants</h3>
            </div>

            <% restaurants.forEach(function(restaurant) { %>
                <div class='rows__listing'>
                    <figure>
                        <figcaption><%= restaurant.name %></figcaption>                        
                        <p><img src="<%= restaurant.image %>">
                    </figure>
                </div>
                <% }) %>
        </div>
    </div>

    <!-- <% include partials/footer.ejs %> -->
    <!-- disabled as its messed up atm -->