<% include partials/header.ejs %>


<p><%=restaurant.name%></p>

<img src="<%= restaurant.image %>">

<p><%= restaurant.description %></p>

<div>
    <p>comments</p>
   <%= restaurant.comments %>
</div>
<% include partials/footer.ejs %>