.restaurant__topimage {
    height: 700px;
    width: 100%;
    background-size: cover;
    background-color: orange;
}

.restaurant__firstblank {
    height: 400px;
}

.restaurant__firstblank-textcontainer {
    width: 40%;
    margin: auto auto;
    text-align: center;
    line-height: 400px;
}

.restaurant__firstblank-text {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.restaurant__middleimage {
    background-color: pink;
}